<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YjsTube41_50</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
	<script src="../071_090/main2.js" defer></script>
</head>
<body>
<style> 
	#dLog {font-size: 30px;}
	#log {font-size: 30px;}
	#monthDate {font-size: 30px;}
	#currTime {font-size: 30px;}
	#meridiemLog {font-size: 30px;}
	#dayLog {font-size: 30px;}
	#localeLog {font-size: 30px; color: rgb(255, 0, 128);}
	#diffHourLog {font-size: 30px; color: rgb(255, 0, 128);}
</style>
</body>
	<!-- 1-082~083. 날짜 다루기 -->
	<main class="centering">
		<p id="log"></p>
		<p id="monthDate"></p>
		<p id="currTime"></p>
		<p id="meridiemLog"></p>
		<p id="dayLog"></p>
		<p id="localeLog"></p>
		<p id="dLog"></p>
		<p id="diffHourLog"></p>
	</main>
</html>