<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> YjsTube01_30 </title>
	<link rel="shortcut icon" href="image/you.png">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../001_030/hey1.js" defer></script> -->
	<!-- <script src="../001_030/hey2.js" defer></script> -->
	<!-- <script src="../001_030/hey3.js" defer></script> -->
	<!-- <script src="../001_030/hey4.js" defer></script> -->
	<!-- <script src="../001_030/hey5.js" defer></script> -->
	<!-- <script src="../001_030/hey6.js" defer></script> -->
	<!-- <script src="../001_030/hey7.js" defer></script> -->
	<!-- <script src="../001_030/hey8.js" defer></script> 클릭시 색변환, 애니메이션 돌아간다 -->	
	<script src="../001_030/he0y9.js" defer></script>
</head>
<body>
	<h1>Not Found</h1>
	<em>The requestd URL was not found on this server.</em><br>
	
	<!-- 버튼 -->
	<button class="button"> Click </button>
	<!-- 그라데이션이 표시되는 직사각형 -->
	<div class="rectangle"></div>
	
	<!-- 원 애니메이션 -->
	<div class="character"></div>
	
	<!-- 텍스트영역에 입력중인 문자수를 카운팅하는 샘플 -->
	<textarea class="textarea"></textarea>
	<p>현재<span class="string_num">0</span>글자를 입력하셨습니다.</p>
	
	<!-- 인덱스 검색 결과값 확인 -->
	<h2>'JavaScript를 배우자'의 인덱스</h2>
	<table>
		<tr><th>indexOf ('JavaScript')</th><td class="result1"></td></tr>
		<tr><th>indexOf ('배우자')</th><td class="result2"></td></tr>
	</table>
	
</body>
<script>

</script>
</html>

<!-- index.html로 들어와서 확인 -->