<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>YjsTube31_40</title>
	<link rel="shortcut icon" href="image/img1.png">
	
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../031_040/main1.js" defer></script> -->
	<!-- <script src="../031_040/main2.js" defer></script> -->
	<!-- <script src="../031_040/main3.js" defer></script> -->
	<script src="../031_040/main4.js" defer></script>
</head>
<body>
	<h1>YjsTube</h1>
	<header>
		<label>지역명의 첫번째 글자를 입력하세요 
			<input id="search-word-input" maxlength="1" type="text">
		</label>
	</header>
	<!-- 1-031. 문자 추출 -->
	<div id="prefecture-list">
	  <button data-name="속초" data-phonetic="sokcho">속초</button>
	  <button data-name="부산" data-phonetic="busan">부산</button>
	  <button data-name="포항" data-phonetic="pohang">포항</button>
	  <button data-name="상주" data-phonetic="sangju">상주</button>
	  <button data-name="서울" data-phonetic="seoul">서울</button>
	  <button data-name="제주" data-phonetic="jeju">제주</button>
	  <button data-name="김해" data-phonetic="kimhae">김해</button>
	  <button data-name="대구" data-phonetic="daegu">대구</button>
	  <button data-name="울산" data-phonetic="ulsan">울산</button>
	</div>
	
	<!-- 1-034.문자열 변환 -->
	<input id="phoneText" placeholder="전화번호 입력" type="tel">
	<p class="caption">
		<small> * 실제 데이터는 전송되지 않습니다 </small>
	</p>
	<button id="submitButton" type="submit">submit</button>
	
	<!-- 1-035. 문자열 나누기 -->
	<main class="large">
		<h2>url에?id=(ID)&amp;name=(이름)&amp;age=(나이)를<br>추가해서 실행해주세요.</h2>
	</main>
	<table>
		<tr><th>ID</th><td class="id"></td></tr>
		<tr><th>name</th><td class="name"></td></tr>
		<tr><th>age</th><td class="age"></td></tr>
	</table>
	
	<!-- 1-036. 문자열 합치기 -->
	<div class="name_container">
		<label>성 <input id="familyName" class="text" type="text"></label>
		<label> 이름 <input id="firstName" class="text" type="text"></label>
	</div>
	<p id="fullName"></p>
	
	<!-- 1-037. 대소문자 변환샘플 -->
	<input class="name-input" type="text">
	<p class="warning-message"></p>
	
	<!-- 1-038. 문자열과 식 함께 다루기 -->
	<main id="main"></main>
	
	<!-- 1-40. 정규표현식으로 특정문자 검색하기 -->
	<h2>전화번호를 입력하세요</h2>
	<input id="phoneNumberText" placeholder="전화번호 입력" type="tel">
	<p id="warning"></p>
</body>
</html>