<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>238_243</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../228_237/main1.js" defer></script> -->
	 <script src="../238_243/main2.js" defer></script>
</head>
<body>
	<!-- 1-238. XMLHttpRequest로 데이터 읽기 -->
	<main class="centering">
		<button id="xBtn">불러오기</button>
		<pre id="Xlog">(데이터표시영역)</pre>
	</main>
	
	<!-- 1-239. XMLHttpRequest로 작업상황 확인 -->
	<main class="centering">
		<button id="pBtn">불러오기</button>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<pre id="pLog">(데이터표시영역)</pre>
	</main>
	
	<!-- 1-240. XMLHttpRequest로 작업취소하기 -->
	<main class="centering">
		<button id="aBtn">불러오기</button>
		<pre id="aLog">(데이터 표시영역)</pre>
	</main>
	
	<!-- 1-241. 백그라운드에서 스크립트 작업하기 -->
	<main class="centering">
		<div class="wrap">
			<input type="number" value="1" id="num1" /> +
			<input type="number" value="2" id="num2" /> = 
			<span class="result"></span>
		</div>
		<button id="calBtn">계산하기</button>
	</main>
	
	<!-- 1-242. 백그라운드에서 작업실행하기 -->
	<main class="centering">
		<h1>콘솔 확인</h1>
	</main>
	
	<!-- 1-243. 푸시알림 -->
	<main class="centering">
		<div class="rect"></div>
		<div class="ui">
			<div class="pLog"></div>
			<button>알림실행</button>
		</div>
	</main>
</body>
</html>