<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>251_258</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../251_258/main1.js" defer></script> -->
	 <script src="../251_258/main1.js" defer></script>
</head>
<body>
	<!-- 1-251. 정보/에러/경고 출력 -->
	<main class="centering">
		<h1>251.정보/에러/경고 출력 콘솔창 확인</h1>
	</main>

	<!-- 1-252. 객체구조 출력하기 -->
	<main class="centering">
		<h1>252. dir,table 콘솔 확인</h1>
	</main>
	
	<!-- 1-253. 에러 파악하기 -->
	<main class="centering">
		<h1>253. 에러파악</h1>
	</main>
</body>
</html>