<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>244_247</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../228_237/main1.js" defer></script> -->
	 <script src="../244_247/main1.js" defer></script>
</head>
<body>
	<!-- 1-244. localStorage사용하기 -->
	<main class="centering">
		<section class="localStorage">
			<h2>localStorage</h2>
			<input type="text" />
			<button class="btnSave">저장하기</button>
			<button class="btnRead">불러오기</button>
		</section>
	</main>
</body>
</html>