<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>121_130 다른페이지</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../121_130/main1.js" defer></script> -->
	<script src="../121_130/main1.js" defer></script>
	<style>
		html, body{
		width: 90%; height: 90%;
		}
		body{
		font-family: "맑은고딕","Malgun Gothic", serif;
		display:flex;
		justify-content: center;
		align-items: center;
		font-size: calc(calc(100vw-50px)/5);
		}
	</style>
</head>
<body class="chapter-7">다른 페이지

</body>
</html>