<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>121_130</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../121_130/main1.js" defer></script> -->
	<script src="../121_130/main1.js" defer></script>
	
	<style> </style>
</head>
<body class="chapter-7">
	<main class="main centering">
	<!-- 1.121.마우스오버 이벤트 사용 -->
	<h1>M O U S E O V E R</h1>
	<div class="box">
		<div class="inner"></div>
	</div>
	</main>
	
	<!-- 1-122. 마우스좌표 확인하기 -->
	<!-- 캐릭터이미지 -->
	<div class="character">
	</div>
	
	<!-- 1-124. 텍스트 선택 이벤트 처리 -->
	<main class="centering large">
		<p class="paragraph">Stay in the middle Like you a little Don't want no riddle</p>
		<div id="balloon"></div>
	</main>
	
	<!-- 1-125. 터치이벤트처리 -->
	<div class="box25">
		<p>터치가 가능한 디바이스에서..</p>
		<p class="log"></p>
	</div>
	
	<!-- 1-126. 터치이벤트 정보 확인 -->
	<div class= "box26">
		<h2>changedTouches</h2>
		<p class="log26"></p>
	</div>
	
	<!-- 1-127. 키보드 입력이벤트 처리 -->
	<textarea class="textarea"></textarea>
	<textarea class="textarena"></textarea>
	<p class="pBox">현재<span class="string_num">0</span> 문자를 입력 중입니다</p>
	
	<!-- 1-128. 입력된 키정보 확인 -->
	<textarea class="textLog" placeholder="무슨 키를 눌렀는지 정보 확인"></textarea>
	
	<!-- 1-129. 탭화면 이벤트 처리하기 -->
	<h1>백그라운드 상태시 음악재생 안되게 처리!![카트라이더 ....]</h1>
	<!-- <iframe src="../121_130/image/5pm.mp3" allow="autoplay" id="audio" style="display:none"></iframe>   --> 
	<audio src="../121_130/image/kart.mp3" autoplay loop controls id="myAudio"></audio> 
</body>
</html>