@charset "UTF-8";

			/* 1-180 */
button {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.cssTarget {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background: white;
  top: 150px;
  transition: all 2s;
}

.cssTarget.state-show {
  width: 400px;
}

.centering {
  position: relative;
}

.cssUi {
  position: absolute;
  bottom: 100px;
}

.cssTransitionsLog {
  border: 1px solid white;
  padding: 0 0.5em;
}


			/* 1-181 */
			
.rect {
  height: 100px;
  display: block;
  position: absolute;
  background: white;
  top: 150px;

  width: 100px;
  transition: all 2s;
}

.rect.state-show {
  width: 400px;
}

.centering {
  position: relative;
}

.rectUi {
  position: absolute;
  bottom: 100px;
}

.rectLog {
  border: 1px solid white;
  padding: 0 0.5em;
}


			/* 1-182 */
.loadRect {
  display: block;
  position: absolute;
  background-size: contain;
  top: 150px;
  
  width: 100px;
  height: 100px;
  background: url('../../image/loading.svg');
}

.loadRect.state-show {
  animation: infinite 1s rotate linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centering {
  position: relative;
}

.loadUi {
  position: absolute;
  bottom: 100px;
}


			/* 1-183 */
			
.container {
  position: relative;
  width: 940px;
  height: 520px;

  background: rgba(0, 0, 0, 0.5);
}

.apiRect {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background: white;
  top: 200px;
}					

			/* 1-183(1) */
			
.cssTranRect {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  background: white;
  top: 150px;

  transition: all 0.5s;
}

.cssTranRect.state-show {
  transform: scale(6);
}

.centering {
  position: relative;
}

.cssTranUi {
  position: absolute;
  bottom: 100px;
}								