<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>219_227</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="https://example.com/example-framework.js" crossorigin="anonymous"></script> -->
<!-- <script src="../219_227/main1.js" defer></script> -->
	 <script src="../219_227/main1.js" defer></script>
</head>
<body>
	<!-- 1-219. 지정시간후 작업실행하기 -->
	<main class="centering">
		<p>219. 지정시간후 작업 콘솔창 확인</p>
	</main>
	
	<!-- 1-221. 시간 주기 작업하기 -->
	<main class="centering">
		<p>221. 시간주기 작업 콘솔창 확인</p>
	</main>
	

</body>
</html>