<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>172_179</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../172_179/main1.js" defer></script> -->
		<script src="../172_179/main1.js" defer></script>
</head>
<body>
	<!-- 1-172. 드롭다운 메뉴값 읽기 -->
	<main class="centering">
		<select id="mySelect">
			<option value="cafeLatte">Cafe latte</option>
			<option value="americano">Americano</option>
			<option value="hotChoco">Hot choco</option>
		</select>
		<p class="selectLog"></p>

	<!-- 1-173. 슬라이더값 읽어오기 -->
		<input type="range" id="myRange" min="0" max="100" value="50" />
		<p class="rangeLog"></p>
	
	<!-- 1-176. 색상선택 정보읽기 -->
		<input type="color" id="myColor" value="#ff0000" />
		
	<!-- 1-177. 색상선택정보 변경 확인하기 -->
		<p class="colorLog"></p>
	</main>
</body>
</html>