<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>172_179</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../172_179/main1.js" defer></script> -->
		<script src="../172_179/main1.js" defer></script>
</head>
<body>
	<!-- 1-172. 드롭다운 메뉴값 읽기 -->
	<main class="centering">
		<select id="mySelect">
			<option value="cafelatte">Cafe latte</option>
			<option value="americano">Americano</option>
			<option value="hotchoco">Hot choco</option>
		</select>
		<p class="selectLog"></p>
	</main>

</body>
</html>