<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>YjsTube41_50</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../91_100/main1.js" defer></script> -->
	<!-- <script src="../91_100/main2.js" defer></script> -->
	<script src="../91_100/main3.js" defer></script>
	<style> #log {font-size:60px;}</style>
</head>
<body>
<main clas="centering">
	<p id="log"></p>
	<p id="logTimer"></p>
	<div class="clock">
		<div class="lineHour"></div>
		<div class="lineMin"></div>
		<div class="lineSec"></div>
	</div>
</main>
	<!-- 1-094. 경고창 표시 -->
	<header><h1>화면 사이즈</h1></header>
	<main><button>이거예요</button></main>
	
	<!-- 1-096. 입력 프롬프트 -->
	<h1>노래 추천해주어요..</h1>
	<button id="promBtn">ㄱㄱ</button>
	<p class="promLog"></p>
	
	<!-- 1-095. 확인창 표시 -->
	<h1>평가</h1>
	<button id="conBtn">ㄱㄱ</button>
	<p class="conLog"></p>

	<!-- 1-097. 윈도 사이즈 확인 -->
	 <div class="line-vertical"></div>
 	 <div class="line-horizontal"></div>

	    <p class="value-width"></p>
	    <p class="value-height"></p>
	    
	<!-- 1-099. 캔버스에 디바이스 화소맞추기 -->
	<p class="canLog"></p>
	<div>
		<canvas id="myCanvas"></canvas>
	</div>
</body>
</html>