<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>141_150</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../141_150/main1.js" defer></script> -->
	<script src="../141_150/main1.js" defer></script>
</head>
<body>
	<!-- 1-141. 부모 자식 전 후 요소 읽어오기 -->
	<div id="parent">
		<div id="child1">자식요소1</div>
		<div id="child1">자식요소2</div>
		<div id="child1">자식요소3</div>
	</div>
	
	<!-- 1-142.부모요소에 자식요소 추가 -->
	<main class="main centering">
		<div id="myBox">#myBox 요소</div>
		<div class="container">
			<div>자식요소1</div>
			<div>자식요소2</div>
		</div>
	</main>
	
	<!-- 1-143. 지정위치에 요소추가 -->
	<main class="main centering">
		<div id="topBox1">#myBox1 요소</div>
		<div id="topBox2">#myBox2 요소</div>
		<div class="container1">
			<div>자식요소1</div>
			<div id="box2">자식요소2</div>
		</div>
	</main>

</body>
</html>