<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>153_160</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">

	<!-- <script src="../153_160/main1.js" defer></script> -->
		<script src="../153_160/main1.js" defer></script>
</head>
<body>
	<!-- 1-153. 요소내부 html다루기 -->
	<main class="main centering">
		<p id="weather">내일은 폭설입니다</p>
	</main>

	<!-- 1-154. outerHTML 다루기 (자신을 포함한 html요소) -->
	<h1>오늘의 날씨</h1>
	<p id= "weather-information">비<span class="temperature">(15도)</span></p>
	
	<!-- 1-155. 요소 속성다루기 -->
	<a id="anchor" href="file:///C:/Users/user/eclipse-workspace/jisu/src/main/webapp/WEB-INF/views/141_152/index2_Modal.html">PROJECT</a>
	<img id="image" src="../image/두산이.jpg"/>
	
	<!-- 1-156. <a>태그 _blank 부모창 조작 제한 -->
	<ul>
		<li><a href="dummypage1.html" target= "_blank">Link1</a></li>
		<li><a href="dummypage2.html">Link2</a></li>
		<li><a href="dummypage3.html" target= "_self">Link3</a></li>
		<li><a href="dummypage4.html" target="_blank">Link4</a></li>
	</ul>
	<p><a href="dummypage5.html">Link5</a></p>
	
	<!-- 1-157. 요소 클래스 속성 다루기 -->
	<div id="classBox" class="blue">blue</div>
	<div id="classBox" class="red">red</div>
	<div id="classBox" class="yellow">yellow</div>
	<div id="classBox" class="pink">pink</div>
	
	<div id="box1" class="red"></div>
	<div id="box2" class="red"></div>
	
	<!-- 1-158.요소클래스 유 무효화 -->
	<main class="main large">
		<h1>🍓 M E E N O I 🍓</h1>
		<div class="section-wrapper">
			<section>
				<button class="button">In My Room</button>
				<div class="content">
					<p>1  LIVIN(Intro) <br> 2 🎵 살랑살랑<br> 3 🎵 Fuck Off<br> 4 Fish<br> 5 In my room (Interlude)<br> 6 우리 사랑을 만들어<br> 7 지갑에게<br> 8 못참아! (Feat.로꼬)<br> 9 Smooth(Outro) <br>
					</p>
				</div>
			</section>
			<section>
			<button class="button">DA DA!</button>
				<div class="content">
					<p>1 busy guy <br> 2 sunbeam <br> 3 🎵 DA DA! (Feat.pH-1) <br> 4 see you <br> 5 soft fur (Feat.SFC.JGR) <br>
					</p>
				</div>
			</section>
			<section>
				<button class="button">NOI MAS</button>
					<div class="content">
						<p>1 Santa Coming Back(Feat.원슈타인) <br> 2 🎵 깨우지 않을게 (Feat.pH-1) <br> 3 No Santa <br> 4 Cheek To Cheek <br> 5 그만큼만 <br> 6 Precious <br>
						</p>
					</div>
			</section>
		</div>
	</main>
	
	<!-- 1-159.스타일 변경 -->
	<main class="mainStyle">
		<p id="information">Seoul Han River</p>
	</main>
	
	<!-- 1-160. 스타일확인 -->
	<main class="main centering">
		<div id="styleBox" class="classRed"></div>
	</main>
</body>
</html>