@charset "UTF-8";
@import url(../css/base_photo.css);
.main {
  display: flex;
}

.box {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px;
  color: #800080;
  border: 20px solid #fff;
}
.box,
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  
}

.box:after,
.inner:after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  color: #333;
}

.box {
  background-color: #ceffc3;
  width: 100%;
  height: 100%;
}

.box:after {
  content: '.box';
}

.box .inner {
  background-color: #93ffa0;
  width: 80%;
  height: 80%;
}

.box .inner:after {
  content: '.inner';
}

body.chapter-17:before {
  filter: hue-rotate(216deg);
}

main.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.character {
  position: absolute;
  top: 0;
  left: 0;
}




.paragraph {
  font-size: 2rem;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
}

#balloon {
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  padding: 5px;
  min-width: 60px;
  color: #171717;
  font-size: 12px;
  background: white;
  border-radius: 5px;
  display: none;
  opacity: 0;
}

#balloon::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid white;
}

#balloon.on {
  opacity: 1;
  display: block;
  transition: 300ms all;
}



.box25 {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.textarea {
  width: 70%;
  height:50%;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}


.textarena {
  width: 70%;
  height: 50%;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}

.pBox {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #333333, 1px 1px #ffffff;
  margin: 0;
}

.textLog {
  width: 70%;
  height: 50%;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}


#mouseWheelToggle {
  margin-right: 10px;
}

.scrollable-element {
  width: 100%;
  overflow-y: scroll;
  text-align: center;
}


#pLog {
  font-size: 22px;
  font-weight: bold;
}