@charset "UTF-8";

.progress {
  position: relative;
  width: 600px;
  height: 20px;
  border-radius: 10px;
  background: gray;
  overflow: hidden;
  display: block;
  margin: 20px auto;
}

.progress-bar {
  position: absolute;
  background: orangered;
  content: '';
  height: 20px;
  display: block;
}

#pLog {
  height: 350px;
}


			/* 1-241 */
			
.wrap {
  width: 80%;
  margin-bottom: 40px;
  text-align: center;
  zoom: 2;
}

.result {
  border: 1px solid white;
  padding: 0.5em;
}

#num1 {
  display: inline-block;
  width: 3em;
}

#num2 {
  display: inline-block;
  width: 3em;
}

#calBtn {
  background-color: green;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}


button {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  cursor: pointer;
}