<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>161_170</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../161_170/main1.js" defer></script> -->
		<script src="../161_170/main1.js" defer></script>
</head>
<body class="chapter-9">
	<!-- 1-161.텍스트박스값 읽어오기 -->
	<main class="centering">
		<input id="myText" type="text" value="그건 니생각이고..." />
	</main>
	
	<!-- 1-162.텍스트 박스값 변경 확인하기 -->
	<main class="centering">
		<input id="idText" type="text" />
		<p class="idLog">입력하세요</p>
	</main>
	
	<!-- 1-163. 텍스트영역 값 읽어오기 -->
	<main class="centering">
		<textarea id="myTextArea">
			살이 너무
			쪄버렸다
		</textarea>
	</main>
	
	<!-- 1-164. 텍스트영역값 변경 확인하기 -->
	<main class="centering">
		<textarea id="myTextArea2"></textarea>
		<p class="areaLog"></p>
	</main>
	
	<!-- 1-165. 체크박스상태 읽어오기 -->
	<main class="centering">
		<label>
			<input type="checkbox" id="cbA" value="A" />
			마라탕
		</label>
		<label>
			<input type="checkbox" id="cbB" value="B" checked />
			마라샹궈
		</label>
		<label>
			<input type="checkbox" id="cbC" value="C" /> 
			마라롱샤
		</label>
	</main>

</body>
</html>