<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>180_190</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js" defer></script>
<!-- <script src="../180_190/main1.js" defer></script> -->
	 <script src="../180_190/main1.js" defer></script>
</head>
<body class="chapter-10">
	<!-- 1-180.css transitions, css animation -->
	<main class="centering">
		<div class="cssTarget"></div>
		<div class="cssUi">
			<button>Transitions확인</button>
			<div class="cssTransitionsLog">로그표시 영역</div>
		</div>
	</main>	
	<!-- 1-181. CSS Transitions 종료시 작업처리 -->
	<main class="centering">
		<div class="rect"></div>
		<div class="rectUi">
			<label>
				<input type="checkbox" id="checkbox" />transition 확인
			</label>
			
			<div class="rectLog">로그 표시 영역</div>
		</div>
	</main>
	
	<!-- 1-182. CSS animation 종료시 작업처리 -->
	<main class="centering">
		<div class="loadRect"></div>
		<div class="loadUi">
			<label>
				<input type="checkbox" id="loadCheckbox" /> 로딩중입니다..
			</label>
			<div class="loadLog">~ 로그 표시 영역 ~</div>
		</div>
	</main>
	
	<!-- 1-183. Web Animations API 사용 (상단에 script삽입) -->
	<div class="container">
		<div class="apiRect"></div>
	</div>
	
	<!-- 1-184. 요소 크기변경 -->
	<!-- (1) CSS Transitions 사용 샘플 -->
	<main class="centering">
		<div class="cssTranRect"></div>
		<label class="cssTranUi">
			<input type="checkbox" id="cssTranCheckbox" /> CSS Transition 확장/축소 애니메이션 확인
		</label>
	</main>	
	<!-- (2) Web Animations API 사용 -->
	<main class="centering">
		<div class="webAniRect"></div>
		<label class="webAniUi">
			<input type="checkbox" id="webAniCheckbox" /> Web Animation API 확장/축소 애니메이션 확인
		</label>
	</main>
	
	<!-- 1-185. 요소 이동하기 -->
	<!-- (1) Css Transitions  -->
	<main class="centering">
		<div class="cssMoveRect"></div>
		<label class="cssMoveUi">
			<input type="checkbox" id="cssMoveCheckbox" />CSS Transition 이동 애니메이션
		</label>
	</main>
	
	<!-- (2) Web 애니메이션 api -->
	<main class="centering">
		<div class="webApiMoveRect"></div>
		<label class="webApiMoveUi">
			<input type="checkbox" id="webApiMoveCheckbox" /> Web Animation API 이동 애니메이션 
		</label>
	</main>
	
	<!-- 1-186. 요소 투명도 조절하기 -->
	<!-- (1) CSS Transition -->
	<main class="centering">
		<div class="cssOpaRect"></div>
		<label class="cssOpaUi">
			<input type="checkbox" id=cssOpaCheckbox />CSS Transitions 투명도 애니메이션
		</label>
	</main>
	<!-- (2) Web Animations API -->
	<main class="centering">
		<div class="webOpaRect"></div>
		<label class="webOpaUi"> 
			<input type="checkbox" id="webOpaCheckbox" />Web Animation API 투명도 애니메이션
		</label>
	</main>

</body>
</html>