<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>180_190</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../180_190/main1.js" defer></script> -->
		<script src="../180_190/main1.js" defer></script>
</head>
<body>
	<!-- 1-180.css transitions, css animation -->
	<main class="centering">
		<div class="cssTarget"></div>
		<div class="cssUi">
			<button>Transitions확인</button>
			<div class="cssTransitionsLog">로그표시 영역</div>
		</div>
	</main>

</body>
</html>