@charset "UTF-8";

			/* 1-153 */
			
body{
	align-items:flex-end;
}
main{
	display: flex;
	width:100%;
	height:auto;
	border-radius:5px;
	background:rbga(255,255,255,0.6);
	-webkit-backdrop-filter:blur(16px);
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	color: white;
	box-sizing:border-box;
	padding:0px;
	text-align:center;
	 flex-direction: column;
}
#weather{
	font-size:2rem;
}
#weather strong{
	color: #d03939;
}



			/* 1-156 */
			
#classBox {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: #0000ff;
}

.yellow{
	background-color: yellow;
}
.pink{
	background-color: pink;
}

			/* 1-158 */
			
h1 {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  font-weight: bold;
}

main {
  padding: 10px;
}

.section-wrapper {
  display: flex;
}

section {
  width: calc(100% / 3);
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  text-transform: none;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  background-color: #2673a6;
}

.button:hover {
  background-color: #2688bc;
}

.button:active {
  background-color: #265c8f;
}

.button + .content {
  display: none;
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
  text-align: left;
  color: white;
}

.button + .content.show {
  display: block;
}

.button + .content h2 {
  font-size: 22px;
}

.button + .content dt {
  margin-bottom: 10px;
}

.button + .content dl,
.button + .content dt,
.button + .content dd {
  margin: 0;
}



			/* 1-159 */
			
.mainStyle {
  background-size: cover;
  background: url("../../image/han.jpg") center;
}


#information {
  margin: 0;
  text-align: left;
}

			/* 1-160 */
			
#styleBox {
  width: 100px;
  height: 100px;
}

.classRed {
  background-color: #ff2bc2;
}

.blue {
  background-color: #2b85ff;
}
