<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YjsTube41_50</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../041_060/main1.js" defer></script>  -->
	<script src="../041_060/main2.js" defer></script>
</head>
<body>
	<!-- 1-041. 소수점 자릿수 지정 -->
	<div class="timer">
		<div class="second"></div>
	</div>
	
	<!-- 1-042. 문자열 길이 맞추기 -->
	<main class="large">
		<div class="current-time">
			<span class="hour"></span>
			: <span class="minute"></span>
			: <span class="second1"></span>
		</div>
	</main>
	
	<!-- 1-043. 문자열 URI이스케이프 처리 -->
	<main>
	<h1>트윗하고 싶은 내용을 입력해주세요</h1>
		<textarea id=tweetTextArea></textarea>
		<button id="tweetButton">트윗하기</button>
	</main>
	
	<!-- 1-047. 배열요소 다루기 -->
	<main class="main">
		<h1>유저 리스트</h1>
		<div class ="container"></div>
	</main>
	
	<!-- 1-056. 조건을 만족하는 배열요소 가져오기 -->
	<main class="main">
		<div class="search-word-wrapper">
			<label>유저 ID<input id="search-id-input" type="text"></label>
		</div>
		<p id="search-result">ID를 입력해주세요</p>
	</main>
	
	<!-- 1-059. 객체를 포함하는 배열 정렬하기 -->
	<main class="centering">
		<div class="button-wrapper">
			<button class="ascending">오름차순</button>
			<button class="descending">내림차순</button>
		</div>
		<ul class="user_list"></ul>
	</main>
</body>
</html>