<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>201_209</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../201_209/main1.js" defer></script> -->
	 <script src="../201_209/main1.js" defer></script>
</head>
<body>
	<!-- 1-201. 영상로딩하기 -->
	<main class="centering">
		<p><video id="video1" src="../image/ed.mp4" controls autoplay loop preload="auto"></video>
	</main>

	<!-- 1-202. 스크립트로 영상제어 -->
	<main class="centering">
		<div>
			<video id="musicVideo"
					width="670" height="480" src="../image/pug.mp4">
			</video>
		</div>
		<div>
			<button id="btnPlay">🎧</button>
			<button id="btnPause">⏸</button>
		</div>
	</main>
	
	<!-- 1-203. 카메라 기능사용 -->
	<main class="centering">
		<button id="cam" onclick="loadAndPlay()">📷 ON</button>
		<button id="cam" onclick="stop()">📷 OFF</button>
		<video id="my" width="640" height="480" autoplay></video>
	</main>
	
	<!-- 1-204. SVG사용하기 -->
	<main class="centering">
		<svg xmlns="http://www.w3.org/2000/svg"
		viewbox="0 0 540 540" width="500" height="500">
			<path fill-opacity="0" stroke="#999999" d="M25,349 
											c57,-84,138,-176,228,-300
											c111,11,120,200,260,130">
		</svg>
	</main>
	
	<!-- 1-205. SVG추가요소를 동적으로 추가 -->
	<main class="centering">
		<div>
			<svg
				viewbox="0 0 200 200" width="200" height="200" id="mySvg"
			></svg>
		</div>
	</main>
	
	<!-- 1-206. SVG요소 스타일 변경하기 -->
	<main class="centering">
		<div>
			<svg viewBox="0 0 200 200" width="200" height="200">
				<circle id="svgCircle" cx="100" cy="100" stroke-width="2" stroke="#FFFFFF" />
			</svg>
		</div>
	</main>
	
	<!-- 1-207. SVG요소 마우스로 다루기 -->
	<main class="centering">
		<div>
			<svg viewBox="0 0 200 200" width="200" height="200">
				<circle id="mouseSvgCircle" cx="100" cy="100" r="95" fill="#BBDEFB" />
			</svg>
		</div>
	</main>
	
	<!-- 1-208. SVG요소 애니메이션 효과 -->
	<main class="centering">
		<div>
			<svg viewBox="0 0 200 200" width="200" height="200">
				<circle id="aniSvgCircle" cx="100" cy="100" r="95" fill="#BBDEFB" />
			</svg>
		</div>
	</main>
	
	<!-- 1-209. SVG그래픽 다운로드하기 -->
	<main class="centering">
		<div>
			<svg viewBox="0 0 200 200" width="200" height="200" id="svgSave">
				<circle cx="100" cy="100" r="100" fill="#FFFF8D" /> 
			</svg>
			<br />
			<button id="btnSave">Download</button>
		</div>
	</main>
	
	
</body>
</html>