<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>191_200</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../191_200/main1.js" defer></script> -->
	 <script src="../191_200/main1.js" defer></script>
</head>
<body>
	<!-- 1-191. 스크립트로 이미지 로딩 -->
	<main class="centering">
		<p>
			<img id="loadImage1" />
			<img id="loadImage2" />
		</p>
	</main>
	
	<!-- 1-192. 이미지 로딩후 작업하기 -->
	<main class="centering">
		<p>
			<img id="onloadImage" width="390" height="426" />
		</p>
	</main>
	
	

</body>
</html>