<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>191_200(2)</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../191_200/main1.js" defer></script> -->
	 <script src="../191_200/main3.js" defer></script>
</head>
<body>
	<!-- 1-193. 이미지 로딩 지연시키기 -->
	<main class="centering">
		<p>
			<img data-src="../image/반란루미.jpg" width="320" height="214" />
			<img data-src="../image/반계쿵야.jpg" width="320" height="214" />
		</p>
		<button class="loadBtn">L O A D I N G . . .</button>
	</main>
	
	<!-- 1-194. Base64 형식이미지 표시 -->
	<main class="centering">
		<p><img id="baseImage" /></p>
	</main>
	
	<!-- 1-195. 스크립트로 이미지요소 추가 -->
	<main class="centering">
		<div class="container"></div>
	</main>
	
	<!-- 1-196. 사운드 사용 -->
	<main class="centering">
		<div>
			<h2>C o n t r o l l e r</h2>
			<audio src="../image/5pm.mp3" controls></audio>
			<h2>P r e v i e w</h2>
			<audio src="../image/5pm.mp3" controls preload="none"></audio>
			<h2>l o o p</h2>
			<audio src="../image/5pm.mp3" controls loop></audio>
		</div>	
	</main>
	<!-- 1-197. 스크립트로 사운드 제어 -->
	<main class="centering">
		<div>
			<audio id="myAudio" src="../image/maple.mp3" controls></audio>
		</div>
		<div>
			<button id="btnPlay">재생</button>
			<button id="btnPause">일시정지</button>
		</div>
	</main>
	
	<!-- 1-198. 사운드 재생 조절하기 -->
	<main class="centering">
		<div>
			<h2>사운드 재생시간 조절</h2>
			<audio id="jumpAudio" src="../image/jump.mp3" controls></audio>
		</div>
	</main>
	
	<!-- 1-199. 사운드 볼륨조절 -->
	<main class="centering">
		<div>
			<h2>볼륨 조절</h2>
			<audio id="showAudio" src="../image/show.mp3" controls></audio>
			<button id="muteBtn">음소거</button>
		</div>
	</main>
</body>
</html>