<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>191_200(2)</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../191_200/main1.js" defer></script> -->
	 <script src="../191_200/main3.js" defer></script>
</head>
<body>
	<!-- 1-193. 이미지 로딩 지연시키기 -->
	<main class="centering">
		<p>
			<img data-src="../image/반란루미.jpg" width="320" height="214" />
			<img data-src="../image/반계쿵야.jpg" width="320" height="214" />
		</p>
		<button class="loadBtn">L O A D I N G . . .</button>
	</main>
	
	<!-- 1-194. Base64 형식이미지 표시 -->
	<main class="centering">
		<p><img id="baseImage" /></p>
	</main>
</body>
</html>