@charset "UTF-8";

.button {
  margin-bottom: 20px;
  margin-top:30px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  cursor: pointer;
  width: 120px;
}

.rectangle{
	width:70%;
	height: calc(50%-30px);
	padding: calc(20% - 70px); /* 이거 넣어서 직사각형 만들어졌따 */
	--start: hsl(0,100%,50%);
	--end: hsl(322,100%,50%);
	background-image: linear-gradient(-135deg, var(--start), var(--end));
}



.character {
  background-image: url(../image/you.png);
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
