<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title> YjsTube </title>
<link rel="shortcut icon" href="image/you.png">
<!-- <script src="hey1.js" defer></script> -->
<!-- <script src="hey2.js" defer></script> -->
<!-- <script src="hey3.js" defer></script> -->
<!-- <script src="hey4.js" defer></script> -->
<!-- <script src="hey5.js" defer></script> -->
<!-- <script src="hey6.js" defer></script> -->
<script src="hey7.js" defer></script>
</head>
<body>
ㅎㅇ
</body>
</html>

<!-- index.html로 들어와서 확인 -->