<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YjsTube41_50</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../61_70/main1.js" defer></script> -->
	<script src="../61_70/main2.js" defer></script>
</head>
<body>
<main>
	<div class="button-wrapper">
		<button class="button" data-age="20">20세 이상</button>
		<button class="button" data-age="30">30세 이상</button>
		<button class="button" data-age="40">40세 이상</button>
	</div>
	<ul class="user_list"></ul>
</main>
</body>
</html>