<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>210_218</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../201_209/main1.js" defer></script> -->
	 <script src="../210_218/main1.js" defer></script>
</head>
<body>
	<!-- 1-210. 캔버스 사용하기 -->
	<main class="centering">
		<canvas id="myCanvas" width="200" height="200"></canvas>
	</main>
	
	<!-- 1-211. 캔버스에 이미지 넣기 -->
	<main class="centering">
		<canvas id="imageCanvas" width="200" height="200"></canvas>
	</main>
	
	<!-- 1-213. 캔버스화소 정보 다루기 -->
	<main class="centering">
		<h1>getImageData</h1>
		<canvas id="pixelCanvas" width="100" height="100"></canvas>
	</main>
	
	<!-- 1-214. 이미지의 RGBA 값 확인하기 -->
	  <main class="centering">
	    <canvas id="my-canvas"
	            width="100"
	            height="100">
	    </canvas>
	    <p class="log"></p>
	  </main>
	  
	<!-- 1-215. 캔버스 이미지 가공하기 -->
	<main class="centering">
		<canvas id="beforeCanvas" width="150" height="150"></canvas>
		<canvas id="afterCanvas" width="150" height="150"></canvas>
	</main>

</body>
</html>