<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>141_150</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../141_150/main1.js" defer></script> -->
	<script src="../141_150/main2.js" defer></script>
</head>
<body>
	<!-- 1-141. 부모 자식 전 후 요소 읽어오기 -->
	<div id="parent">
		<div id="child1">자식요소1</div>
		<div id="child1">자식요소2</div>
		<div id="child1">자식요소3</div>
	</div>
	
	<!-- 1-142.부모요소에 자식요소 추가 -->
	<main class="main centering">
		<div id="myBox">#myBox 요소</div>
		<div class="container">
			<div>자식요소1</div>
			<div>자식요소2</div>
		</div>
	</main>
	
	<!-- 1-143. 지정위치에 요소추가 -->
	<main class="main centering">
		<div id="topBox1">#myBox1 요소</div>
		<div id="topBox2">#myBox2 요소</div>
		<div class="container1">
			<div>자식요소1</div>
			<div id="box2">자식요소2</div>
		</div>
	</main>
	
	<!-- 1-144. 요소 앞뒤에 다른요소추가 -->
	<main class="main centering">
		<div id="insertBox1">추가할 박스1</div>
		<div id="insertBox2">추가할 박스2</div>
		<div class="container2">
			<div id="targetBox">기준 박스</div>
		</div>
	</main>
	
	<!-- 1-145. html코드요소 추가하기 -->
	<main class="main centering">
		<div class="container3">
			<div class="childBox">자식요소1</div>
			<div class="childBox">자식요소2</div>
		</div>
		<button id="boxBtn">클릭시 추가</button>
	</main>
	
	<!-- 1-146. 요소 동적으로 삭제 -->
	<main class="main centering">
		<div id="removeParent">
			<div id="removeChild">제거됩니다....</div>
		</div>
		<button id="removeBtn">클릭시 제거</button>
	</main>
	
	<!-- 1-147. 요소 자신삭제 -->
	<main class="main centering">
		<div id="selfRmParent">
			<div id="selfRmChild">3초뒤 사라짐니다</div>
		</div>
	</main>
	
	

</body>
</html>