<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>141_150_index2</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../141_150/main1.js" defer></script> -->
	<script src="../141_150/main2.js" defer></script>
</head>
<body>
	<!--main2.  1-148. 요소 생성 -->
	<button id="create-modal-button">M O D A L C L I C K</button>
	
	<!-- 1-149.요소 복사 -->
	<main class="main centering">
		<div class="container4">
			<div id="cloneBox">박스</div>
		</div>
	</main>
	
	<!-- 1-150. 요소 교체 -->
	<main class="main centering">
		<div class="container5">
			<div class="old-box box">교체될 운명의 어떤것</div>
		</div>
		<button id="replaceBtn">클릭하면 교체돼요</button>
	</main>
	
	<!-- 1-151. 노드 교체하기 -->
	<main class="main centering">
		<div class="container6">
			<div class="old-replace-box box">3초뒤에 교체돼요 ㄱㄷㄱㄷ</div>
		</div>
	</main>
	
	<!-- 1-152. 텍스트 요소다루기 -->
	<main class="main-weather">
		<p id="weather">내일의 날씨</p>
	</main>
</body>
</html>