@charset "UTF-8";

			/* 1-162 */
			
.idLog {
  border: 1px solid white;
  padding: 0.5em;
  margin-top: 1em;
}


			/* 1-164 */
			
.areaLog {
  border: 1px solid white;
  padding: 0.5em;
  margin-top: 1em;
}