@charset "UTF-8";
			
			/* 1-192 */ 

img.loading {
  background-color: black;
  background-image: url("../../image/loading.gif");
  background-position: center;
  background-repeat: no-repeat;
}

			/* 1-195 */
			
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container img {
  width: 250px;
  height: 180px;
}
			
