<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>YjsTube101_120</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- <script src="../101_120/main1.js" defer></script> -->
	<script src="../101_120/main2.js" defer></script>
	<style> </style>
</head>
<body>
	<!-- 1-101. 페이지 이동 -->
	<button id="urlBtn">클릭하면 이동</button>
	
	<!-- 1-102. 페이지 리로드 -->
	<button id="reloadBtn">새로고침</button>
	
	<!-- 1-103. 페이지 이동(앞뒤) -->
	<h1>
	<button id="bBtn">뒤로가기</button>
	<button id="fBtn">앞으로가기</button>
	</h1>
	
	<!-- 1-105. 해시변경 확인하기 -->
	<p class="hashLog"></p>
	<ul><h1>
		<li><a href="#orange">오렌지 앵커</a></li>
		<li><a href="#apple">사과 앵커</a></li>
		</h1>
	</ul>
	
	<!-- 1-106. 새윈도우 창 열기 -->
	<button id="windowBtn">새로운창</button>
	
	<!-- 1-109. 타이틀 변경 -->
	<p><button id="btnHype" class="red">hype boy</button></p>
	<p><button id="btnDitto" class="orange">Ditto</button></p>
	
	<!-- 1-110.포커스 확인 -->
	<p id="focusLog">FOCUS</p>
	
	<!-- 1-111. 전체화면 표시 -->
	<p><button id="fullBtn" class= "blue">전체화면 설정</button>
	<p><button id="fullExitBtn" class="orange">전체화면 해제</button>
	
	<!-- 1-112. 온/오프라인 -->
	<p class="onLog"></p>
	
	<!-- 1-113. 이벤트 처리 이해 -->
	<button class='button'>♥ M E R R Y</button>
	
	<!-- 1-115. 이벤트 리스너 1회 실행 -->
	<button class="btn"> C H R I S T M A S ♥</button>
	
	<!-- 1-116. 이벤트 리스너 삭제 -->
	<button class="box">BOX</button>
	
	<!-- 1-117. 페이지 로드시 이벤트 사용 -->
	<main class="large">
		<div class="box1">BOX</div>
		<div class="box1">FOX</div>
		<div class="box1">FAX</div>
		<div class="box1">TAX</div>
	</main>
	
	<!-- 1-118. 클릭 이벤트 -->
	<button class="btnClick">내 기분</button>
	
	<!-- 1-119. 마우스 조작 이벤트 -->
	<div id="log2">
		<button class="mouseBtn">마우스..</button>
	</div>
	
	<!-- 1-120. 마우스 오버이벤트 -->
	<main class="chapter-7">
	<h1>MOUSEENTER</h1>
	<div id="mouseBox">
		<div id="inner"></div>
	</div>
	</main>
</body>
</html>