<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ditto</title>

<link rel="stylesheet" href="css/darkStyle.css" type="text/css">

	<script src="../131_140/main4.js" defer></script>
	
	<style> </style>
</head>
<body>
	<main class="main">
		<button class="theme-change-button">뉴진스 모드</button>
		<h1>D i t t o</h1>
		 <p>Woo woo woo woo ooh Woo woo woo woo Stay in the middle
			Like you a little Don't want no riddle</p>
		<p>말해줘 say it back Oh say it ditto 아침은 너무 멀어
			So say it ditto</p>
		<p>훌쩍 커버렸어 함께한 기억처럼 널 보는 내 마음은 어느새 여름 지나 가을 기다렸지 all this time
			Do you want somebody Like I want somebody </p>
	
</main>
</body>
</html>