<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>131_140</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
	<!-- <script src="../121_130/main1.js" defer></script> -->
	<!-- <script src="../121_130/main2.js" defer></script> -->
	<script src="../131_140/main3.js" defer></script>
	
	<style> </style>
</head>
<body class="chapter-7">
<main class="centering">
	<!-- 1-131. 사이즈 벗어난 화면처리 -->
	<div class="rectangle"></div>
</main>	
	<!-- 1-132. 이벤트 작동설정 -->
	<main class="large centering">
		<div id="myBox">B O X</div>
	
	</main>
		
	<!-- 1-133. 기본이벤트 작동해지 설정 -->
	<main class="centering large">
		<p><input id="mouseWheelToggle" type="checkbox">마우스 휠기능 무효화</p>
		<ul class="scrollable-element">
			<li>콤비네이션피자</li>
			<li>불고기피자</li>
			<li>페퍼로니피자</li>
			<li>치즈피자</li>
			<li>슈프림피자</li>
			<li>까르보나라피자</li>
			<li>시카고피자</li>
			<li>하와이안피자</li>
		</ul>
	</main>
	
	<!-- 1-134. 드래그앤 드롭 사용 -->
	<!-- 샘플(1) -->
	<main class="main">
		<div class="character" draggable="true"></div>
	</main>
	<!-- 샘플(2) -->
	<main class="main2">
		<div class="characterDrag" draggable="true"></div>
		<div class="boxDrag">두산아 일로와</div>
	<!-- 샘플(3) -->
		<div class="characterDrop" draggable="true"></div>
		<div class="boxDrop">세서미 일로와</div>
	</main>
	<!-- 샘플(4) 파일 드래그앤드롭 -->
	<div class="file-zone"> 이미지를 여기 놓아주세요 </div>
	<div class="file-preview-area">
		<h1>업로드한 이미지</h1>
		<div class="image-list"></div>
	</div>
	
	<!-- 1-136.셀렉터 사용 -->
	<div id="logSelector"></div>
	
	<!-- 1-137.ID의 각 요소값 읽어오기 -->
	<div id="foo"></div>
	
	<!-- 1-138. 셀렉터조건 만족하는 요소읽어오기 (querySelectorALl()) -->
	<main class="large">
		<div class="boxAll">공차</div>
		<div class="boxAll">스타벅스</div>
		<div class="boxAll">더벤티</div>
	</main>
	
	<!-- 1-139. 클래스명으로 요소읽기 -->
	<main class="large">
		<div class="boxClass">1</div>
		<div class="boxClass">2</div>
		<div class="boxClass">3</div>
	</main>
	

</body>
</html>