<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>228_237</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="../common/base_style.css" type="text/css">
<!-- <script src="../228_237/main1.js" defer></script> -->
	 <script src="../228_237/main1.js" defer></script>
</head>
<body>
	<!-- 1-229. json문자열 객체로 변환 -->
	<main class="centering">
		<p>229~232.console창 확인</p>
	</main>
	
	<!-- 1-233. fetch()로 text data 읽어오기 -->
	<main class="centering">
		<button id="btn">불러오기</button>
		<div id="log">(데이터 표시영역)</div>
	</main>
	
	<!-- 1-235. fetch()로 xml읽기 -->
	<main class="centering">
		<button id="xmlBtn">xml불러오기</button>
		<pre id="xmlLog">데이터 표시영역</pre>
	</main>
	
	<!-- 1-236. fetch()로 바이너리데이터 읽기 -->
	<main class="centering">
		<button id="bBtn">짜증나</button>
		<div id="bLog">fetch개년아</div>
	</main>
</body>
</html>